---
 const personalImageAlt = "Facundo Nuñez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Facundo Rafael Nuñez. Comencé en la programación en 2022 con .Net y 
      luego me interesé por otros lenguajes de programación. <strong
        >Actulmente estoy en busca de mi primer Empleo en It</strong
      >.
    </p>

    <p>
      Una de mis experiencias incluye el desarrollo de una aplicación de administar paciente de veterinaria. <strong
        >me costo muchismo pero me hizo compredi muchos conoceptos</strong
      >. La app en desarrollada en react.js y ek backend con Express
    </p>

    <p>
      También tuve una excelente experiencia en  <strong
        >No Country, donde tuve la dicha de trabajar en un equipo sumamente completo. Contamos con un equipo de Backend, Frontend, Diseño UI/UX, QA y Project Manager. 
        <em class="italic"></em></strong
      >La aplicación se llamó ChatBeat y tenía el objetivo de conectar a las personas a través de la música.
    </p>
    <p>
      Además, tuve experiencia como freelancer para la empresa <strong
        >ClichHr, donde trabajé con un equipo completo en la realización de una landing page</strong
      >.
    </p>
  </div>

  <img width="200" height="200" src="Perfil.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


