---
 const personalImageAlt = "Facundo Nuñez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Mi nombre es Facundo Rafael Nuñez. Empecé en la programación en 2022 gracias al impulso de un amigo, y desde ese momento me enamoré del mundo del código, dedicándome a estudiar y practicar incansablemente.
  </p>
  <p>
    Tras desarrollar mis primeros proyectos, tuve la oportunidad de participar en simulaciones laborales en No Country, donde descubrí la magnitud y los desafíos del sector. Durante ese tiempo, forjé amistades valiosas y comprendí lo difícil que es encontrar un puesto estable en IT.
  </p>
  <p>
    Con un grupo de amigos, decidimos emprender y fundar nuestra startup, AtomiCat, para explorar un abanico de posibilidades y demostrar lo que realmente podemos hacer. Después de una intensa etapa de aprendizaje y consolidación, conseguimos nuestro primer cliente con excelentes resultados, y cada día llegan más proyectos por recomendación. Estoy feliz de haber emprendido este camino junto a compañeros que se han convertido en amigos, y estoy convencido de que juntos llegaremos muy lejos.
  </p>
  </div>

  <img width="200" height="200" src="Perfil12.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


