---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    company: "Independiente",
    description:
      "Trabajo de manera independiente en diversos proyectos de programación y desarrollo web. Puedes ver algunos de mis trabajos",
    link: "https://github.com/facu1391",
  },
  {
    date: "Diciembre 2023 - Marzo 2024",
    title: "Frontend Developer",
    company: "ClinchHR",
    description:
      "Durante este período, trabajé como freelancer en un proyecto para ClinchHR, colaborando en un equipo para desarrollar una página de aterrizaje (Leadpages). Mi rol principal fue como Frontend Developer, contribuyendo significativamente al éxito del proyecto y asegurando una experiencia de usuario óptima y una interfaz atractiva.",
  },
  {
    date: "Febrero - Marzo 2024",
    title: "Principal Frontend Developer",
    company: "No Country",
    description:
      "Fui seleccionado por No Country para participar en una simulación laboral, donde me asignaron a un equipo de trabajo. En un plazo de cinco semanas, desarrollamos una aplicación llamada ChatBeat. Mi rol fue de Principal Frontend Developer, liderando el desarrollo de la interfaz y asegurando una experiencia de usuario intuitiva y eficiente.",
  },
  {
    date: "Abril - Mayo 2024",
    title: "Principal Frontend Developer",
    company: "No Country",
    description:
      "Fui seleccionado por No Country para participar en una segunda simulación laboral, integrándome en un equipo de trabajo. En un plazo de cinco semanas, desarrollamos una aplicación llamada Entrena Conmigo. Nuestro proyecto fue seleccionado para la Demo Live, destacándose entre los cinco mejores de toda la simulación.",
  },
  {
    date: "Marzo - Abril 2023",
    title: "Fullstack Developer",
    company: "Independiente",
    description:
      "Desarrollé una aplicación de administración de pacientes para una veterinaria como proyecto personal. Utilicé React para el frontend, Tailwind CSS para el diseño, y Node.js, Express, y MongoDB para el backend. Esta aplicación demuestra mis habilidades como desarrollador Fullstack y mi capacidad para gestionar proyectos completos desde la interfaz de usuario hasta la base de datos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
