---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    company: "Independiente",
    description:
      "Trabajo de manera independiente en diversos proyectos de programación y desarrollo web. Puedes ver algunos de mis trabajos",
    link: "https://github.com/facu1391",
  },
  {
    date: "Julio - Agosto 2024",
    title: "Frontend Developer",
    company: "Justina.io",
    description:
      "Participé en un Hackathon organizado por No Country, en el que Justina.io fue el cliente. El reto consistió en mejorar la interfaz de usuario para hacerla más intuitiva y accesible tanto para clientes como para el personal de salud. La iniciativa tuvo como objetivo fortalecer el sistema de salud mediante una plataforma omnicanal que descentraliza recursos y conecta a pacientes, profesionales, financiadores y proveedores de soluciones. Mi rol fue liderar el diseño y desarrollo frontend, garantizando una experiencia de usuario eficiente y colaborativa.",
  },
  {
    date: "Octubre 2024 - Diciembre 2024",
    title: "Frontend Developer",
    company: "Satan&Co",
    description:
      "Durante este período trabajé como Frontend Developer en la startup AtomiCat, colaborando en la construcción de la página web de Satan&Co. Fue un proceso muy productivo, apoyado por un equipo de expertos en diseño UX/UI, frontend, backend y QA. La iniciativa digital se lanzó para potenciar la reputación de la marca y facilitar el acceso a sus productos, consolidando a Satan&Co como referente en el sector. Además, se buscó incrementar la visibilidad ante clientes potenciales, maximizar ingresos mediante la conversión de usuarios y optimizar el posicionamiento en buscadores.",
  },
  {
    date: "Diciembre 2023 - Marzo 2024",
    title: "Frontend Developer",
    company: "ClinchHR",
    description:
      "Durante este período, trabajé como freelancer en un proyecto para ClinchHR, colaborando en un equipo para desarrollar una página de aterrizaje (Leadpages). Mi rol principal fue como Frontend Developer, contribuyendo significativamente al éxito del proyecto y asegurando una experiencia de usuario óptima y una interfaz atractiva.",
  },
  {
    date: "Marzo - Abril 2023",
    title: "Fullstack Developer",
    company: "Independiente",
    description:
      "Desarrollé una aplicación de administración de pacientes para una veterinaria como proyecto personal. Utilicé React para el frontend, Tailwind CSS para el diseño, y Node.js, Express, y MongoDB para el backend. Esta aplicación demuestra mis habilidades como desarrollador Fullstack y mi capacidad para gestionar proyectos completos desde la interfaz de usuario hasta la base de datos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
